* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/
header {
    background-color: #FFFFFF;
}

#logo {
    margin: 9px auto 3px 12px;
    width: 190px;
}

/*Main*/
main {
    background-color: #F6F8F8;
    padding-top: 30px;
    font-family: Arial;
}

/*Main frame*/
div {
    margin: auto auto;
    width: 900px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

section {
    padding: 12px 0 0 48px;
}

/*Add Task - Add Section*/
#section-1 {
    border-bottom: 2px solid #F6F8F8;
    padding-bottom: 10px;
}

#add-task {
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 10px;
    background-color: #00ABF5;
}

#add-section{
    display: inline-block;
    border: 1px solid #C6CCCC;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 10px;
}

