* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/
header {
    background-color: #FFFFFF;
}
#logo {
    margin: 6px auto 0px 10px;
}

/*Main*/
main {
    background-color: #F6F8F8;
    padding-top: 30px;
}

/*Main frame*/
div {
    margin: auto auto;
    width: 900px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
